version: '3.8'
services:

  frontend:
    build: 
      context: ./front
      dockerfile: Dockerfile
    restart: always
    networks:
      - my_network
      
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    volumes:
      - ./uploads:/app/uploads
    restart: always
    networks:
      - my_network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./uploads:/usr/share/nginx/html/uploads
      - ./certbot/conf:/etc/letsencrypt  # Montez les dossiers de configuration Certbot
      - ./certbot/www:/var/www/certbot  # Montez le dossier pour le challenge HTTP
    ports:
      - "80:80"
      - "443:443"
    networks:
      - my_network

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h; done'"
    networks:
      - my_network
  
networks:
  my_network:
    driver: bridge
