@import './base.scss';

#app {
  font-weight: normal;
  background-color: var(--bg-color);
}

.button-primary {
  background-color: var(--color-primary );
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 8px;
}