@import '@/assets/_reset';
@import '@/assets/_base';

body {
  padding: 0;
  margin: 0;

  font-weight: normal;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

#app {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $background;
}

.leaflet-container .leaflet-control-attribution {
  display: none;
}

.row {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 0.05rem;
  justify-content: center;
}

.rowBanner {
  display: flex;
  align-items: center;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
}

.form-container {
  width:  100%;
  max-width: 30rem;
  max-height: 100%;
}

.primary-background {
  background-color: $primary;
  color: $primaryContainer;
}

.title {
  font-family:'Catamaran';
  font-weight: 700;
  font-style: normal;
}

.fontNumber {
  font-size: 1.63625rem;
  font-weight: 700;
  line-height: 2.45438rem; 
}



%button {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: 'Catamaran', Roboto;

  border: none;
  border-radius: 200rem;
  flex-grow: 1;
  width: 100%;
  height: 2.8rem;
  margin: 1rem 0;
  line-height: 2.35rem;

  cursor: pointer;

  transition: 0.25s;
}

.primary-button {
  @extend %button;
  
  background-color: $primary;
  color: $primaryContainer;
  
  &:hover {
    background-color: $secondary;
    color: $onSecondary;
  }

  &:disabled {
    cursor: default;
    background-color: $background;
    color: $onBackground-80;
    border: 2px solid $onBackground-20;
  }
}



.primary-button-variant {
  @extend %button;

  background-color: transparent;
  color: $primary;

  border: solid 3px $primary;
  border-radius: 0.3rem;

  &:hover {
    background-color: $primary;
    color: $onPrimary;
  }

  &:disabled {
    cursor: default;
    background-color: $background;
    color: $onBackground-80;
    border: 2px solid $onBackground-20;
  }
}

.secondary-button {
  @extend %button;

  background-color: $secondary;
  color: $onSecondary;

  &:hover {
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
  }

  &:disabled {
    cursor: default;
    background-color: $background;
    color: $onBackground-80;
    border: 2px solid $onBackground-20;
  }
}

.divider {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $onBackground-80;
  margin: 0.8rem 0;
}

.divider::before, .divider::after {
  width: 33%;
  content: '';
  height: .1rem;
  background-color: $onBackground-80;
}

.text-field  {
  display: block;
  background-color: $primaryContainer;
  color: $onPrimaryContainer;
  width: 100%;
  height: 2.8rem;
  border-radius: 3rem;
  border: 3px solid $onBackground-20;
  

  padding: 0 1rem;
  margin: 1.1rem 0;
  font-size: 1.1rem;

  &:hover {
    border-color: $primary-40;
  }

  &:focus {
    border: 3px solid $primary;
    outline: none;
  }

  &::placeholder {
    color: $onBackground;
    opacity: 0.4;
  }
}

.text-field-error {
  border: solid 3px $error;
  margin-bottom: 0;

  &:hover {
    border-color: rgba($color: $error, $alpha: .6);
  }

  &:focus {
    border: 3px solid $primary;
    outline: none;
  }
}

.text-area {
  display: block;
  background-color: $primaryContainer;
  color: $onPrimaryContainer;
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  border-radius: 0.5rem;
  border: 3px solid $onBackground-20;
  
  padding: 0.5rem;
  font-size: 0.9rem;
  overflow-y: hidden;

  &:hover {
    border-color: $primary-40;
  }

  &:focus {
    border: 3px solid $primary;
    border-radius: .5rem;
    outline: none;
  }

  &::placeholder {
    color: $onBackground;
    opacity: 0.4;
  }
}


.input-date-time-picker {
  background-color: $primaryContainer;
  border: solid 3px $onBackground-20;
  border-radius: 3rem;
  color: $onPrimaryContainer;

  &:hover {
      border-color: $primary-40;
  }
}

.date-time-picker {
  border-radius: 1rem;
  box-shadow: 0 2px 4px $primary-40;

  .dp__overlay {
    border-radius: 1rem;
  }
}

.date-time-picker-cell {
  border-radius: 50%;
}

.tip-container {
  border-radius: .3rem;
  border: 3px solid $onBackground-20;
  width: 80%;
  margin-bottom: 1.5rem;
  padding: .5rem 0.8rem;
  
  .tip {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.6875rem;
  }
}

.inline-link {
  text-decoration: underline;
  color: $onBackground;

  transition: 0.25s;

  &:hover {
    color: $primary;
  }
}

.checkbox-label {
  cursor:  pointer;
  user-select: none;
  font-size: 1rem;
  margin: 0 0.2rem;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;

  cursor:  pointer;
  outline: none;
  margin: 0;
  border: 3px solid $onBackground-20;
  border-radius: 0.3rem;

  width: 1.1rem;
  height: 1.1rem;
  transform: translateY(3px);
  
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $primary;

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  border: 3px solid $primary-40;
  background-color: $primaryContainer;
}

input[type="checkbox"]:hover {
  background-color: $primaryContainer;
}
