DATABASE_URI=postgresql+psycopg2://postgres:password@localhost/dbname
API_KEY=1234567890
JWT_SECRET_KEY=0000000000
UPLOAD_FOLDER=uploads
UPLOADS_URL=https://uploads.example.com
GOOGLE_CLIENT_ID=example_google_client_id
FRONTEND_URL=http://localhost:5173
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=example@example.com
MAIL_PASSWORD=example_password
MAIL_DEFAULT_SENDER=example@example.com
RESET_PASSWORD_SALT=example_reset_password_salt